<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheDaysAhead</key>
	<integer>10</integer>
	<key>cacheDaysBehind</key>
	<integer>365</integer>
	<key>studyIdentifier</key>
	<string>nwu-mobile-toolbox-dev</string>
	<key>certificateName</key>
	<string>nwu-mobile-toolbox-dev</string>
	<key>appUpdateURL</key>
	<string>https://notsupported.null</string>
</dict>
</plist>
